# Server Config
PORT=5000
NODE_ENV=development

# Database Configuration (PostgreSQL)
# For local docker-compose: postgresql://postgres:postgrespassword@localhost:5432/notifyx?schema=public
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/notifyx?schema=public"

# Redis Configuration (Pub/Sub & BullMQ Queue)
# For local docker-compose: redis://localhost:6379
REDIS_URL="redis://localhost:6379"

# Security (JWT Auth)
JWT_SECRET="generate-a-secure-random-secret-key-here"
